## Instalando a biblioteca para ler o dataset

In [2]:
!pip install ucimlrepo

Defaulting to user installation because normal site-packages is not writeable
Collecting ucimlrepo
  Obtaining dependency information for ucimlrepo from https://files.pythonhosted.org/packages/3b/07/1252560194df2b4fad1cb3c46081b948331c63eb1bb0b97620d508d12a53/ucimlrepo-0.0.7-py3-none-any.whl.metadata
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from ucimlrepo) (2.0.3)
Requirement already satisfied: certifi>=2020.12.5 in c:\programdata\anaconda3\lib\site-packages (from ucimlrepo) (2023.7.22)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\joão tinti\appdata\roaming\python\python311\site-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7

## Importando as bibliotecas para trabalhar com os dados

In [19]:
from ucimlrepo import fetch_ucirepo 
import pandas as pd
import numpy as np

## Lendo o arquivo

In [ ]:
# fetch dataset 
iris = fetch_ucirepo(id=53)

## Analisando os metadados do dataset

In [7]:
# metadata 
for key, value in iris.metadata.items():
    print(f'{key}: {value}')

uci_id: 53
name: Iris
repository_url: https://archive.ics.uci.edu/dataset/53/iris
data_url: https://archive.ics.uci.edu/static/public/53/data.csv
abstract: A small classic dataset from Fisher, 1936. One of the earliest known datasets used for evaluating classification methods.

area: Biology
tasks: ['Classification']
characteristics: ['Tabular']
num_instances: 150
num_features: 4
feature_types: ['Real']
demographics: []
target_col: ['class']
index_col: None
has_missing_values: no
missing_values_symbol: None
year_of_dataset_creation: 1936
last_updated: Tue Sep 12 2023
dataset_doi: 10.24432/C56C76
creators: ['R. A. Fisher']
intro_paper: {'ID': 191, 'type': 'NATIVE', 'title': 'The Iris data set: In search of the source of virginica', 'authors': 'A. Unwin, K. Kleinman', 'venue': 'Significance, 2021', 'year': 2021, 'journal': 'Significance, 2021', 'DOI': '1740-9713.01589', 'URL': 'https://www.semanticscholar.org/paper/4599862ea877863669a6a8e63a3c707a787d5d7e', 'sha': None, 'corpus': None, 'arxiv': None, 'mag': None, 'acl': None, 'pmid': None, 'pmcid': None}
additional_info: {'summary': 'This is one of the earliest datasets used in the literature on classification methods and widely used in statistics and machine learning.  The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.  One class is linearly separable from the other 2; the latter are not linearly separable from each other.\n\nPredicted attribute: class of iris plant.\n\nThis is an exceedingly simple domain.\n\nThis data differs from the data presented in Fishers article (identified by Steve Chadwick,  spchadwick@espeedaz.net ).  The 35th sample should be: 4.9,3.1,1.5,0.2,"Iris-setosa" where the error is in the fourth feature. The 38th sample: 4.9,3.6,1.4,0.1,"Iris-setosa" where the errors are in the second and third features.  ', 'purpose': 'N/A', 'funded_by': None, 'instances_represent': 'Each instance is a plant', 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': None, 'citation': None}

## Verificando as variáveis do problema

In [8]:
# variable information 
print(iris.variables)

           name     role         type demographic  \
0  sepal length  Feature   Continuous        None
1   sepal width  Feature   Continuous        None
2  petal length  Feature   Continuous        None
3   petal width  Feature   Continuous        None
4         class   Target  Categorical        None

                                         description units missing_values
0                                               None    cm             no
1                                               None    cm             no
2                                               None    cm             no
3                                               None    cm             no
4  class of iris plant: Iris Setosa, Iris Versico...  None             no

## Obtendo as variáveis

In [11]:
# data (as pandas dataframes) 
X = iris.data.features 
y = iris.data.targets 

print(f'Dimensões de X: {X.shape}, Dimensões de y: {y.shape}')

Dimensões de X: (150, 4), Dimensões de y: (150, 1)

## Explorando X

In [12]:
X.head()

   sepal length  sepal width  petal length  petal width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [14]:
X.describe()

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## Explorando y

In [13]:
y.head()

         class
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [18]:
#Classes de y
list(y['class'].unique())

['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

## Objetivos deste trabalho
- [ ] Treinar rede perceptron para reconhecer as 3 diferentes classes
- [ ] Dividir aleatoriamente os exemplos em subconjuntos de treino, validação e teste (70%, 15%, 15%)
- [ ] Testar com e sem normalização dos dados
- [ ] Testar diferentes pesos de inicialização e taxas de aprendizado
- [ ] Repetir os experimentos diversas vezes em cada configuração
- [ ] Gerar gráfico do Erro Médio Quadrático e/ou Entropia Cruzada Categórica Média
- [ ] Tabela com as matrizes de confusão para cada subconjunto separadamente: treinamento, validação e teste

Parâmetros para testar:
- Taxa de aprendizado
- Pesos de inicialização
- Com e sem normalização dos dados

## Para este problema: Perceptron com múltiplas saídas
![perceptron de multiplas saidas](./Arquitetura_Problema1.png)